<div class="wrapper">
  
  <div class="container">

  	<div class="col-xs-12 col-md-8 col-md-offset-2">
  	
			<h2>About Page</h2>

			<a ng-href="#/">Go Home</a></li>

			Or, check out this <a ng-href="#/newPage">New Page</a></li>

			<div id="trackList">
			  
			  <div class="track" ng-repeat="track in tracks" id='{{$index}}' track-element>

			    <h3>{{track.name}}</h3>
			     
			    <!-- {{ track.url | trustUrl }} -->

			    <iframe class="frame" style="background-color:#f5f5f5; border:1px solid #e5e5e5;" width="{{track.width}}" height="{{track.height}}" scrolling="no" frameborder="no" ng-src=""></iframe>

			    <div class="divider"></div>
			     
			  </div><!-- ./track -->

			</div><!-- ./trackList -->

		</div><!-- ./col -->

  </div><!-- ./container -->

</div><!-- ./wrapper -->